@font-face {
  font-family: "LuloClean";
  src: url("../fonts/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf");
}
@font-face {
  font-family: "Proxim";
  src: url("../fonts/Fontspring-DEMO-proximanova-regular.otf");
}
body,
html {
  font-family: "Proxim";
  background-color: #000000;
}
html,
h1,
h2 {
  font-family: "LuloClean";
}
.cursor_pointer {
  cursor: pointer;
}
/*-----------------------------------------------Hero-----------------------------*/
.nav_logo {
  width: 200px;
  height: 36px;
  margin: 31px 0 0 90px;
}
.mxw_hdr {
  max-width: 854px;
}
.space_header {
  margin-top: 93px;
  margin-bottom: 120px;
}
.btn_erly {
  transition: all 350ms linear;
  margin-bottom: 20px;
  margin-top: 32px;
  border: none;
  border-radius: 8px;
  background-color: #0bb89d;
  padding: 16px 29px;
}
.btn_erly:hover {
  box-shadow: 0px 1px 30px 0px #0bb89d4d;
}
.elps_right_hdr {
  position: absolute;
  top: 35%;
  right: -5%;
  border-radius: 100px;
  width: 192px;
  height: 192px;
  background: #0bb89d;
  filter: blur(100px);
}
.elps_left_hdr {
  position: absolute;
  top: 70%;
  left: -5%;
  border-radius: 100px;
  width: 192px;
  height: 192px;
  background: #0bb89d;
  filter: blur(100px);
}
.hero_main_img {
  width: 40%;
}
/*-----------------------------------Did-You-Know--------------------------------------*/
.elps_right_did {
  position: absolute;
  bottom: 30%;
  right: -5%;
  border-radius: 100px;
  width: 152px;
  height: 152px;
  background: #0bb89d;
  filter: blur(100px);
}
.space_did {
  margin: 80px 0 148px 0;
}
.row_height {
  margin: 60px 70px 0 70px !important;
  min-height: 250px;
}
.card_did {
  width: 100%;
  max-width: 363px;
  height: 239px;
  padding: 32px;
  border-radius: 12px;
  border: 1px solid #062923;
  font-size: 24px;
  background-color: #050505;
  transition: all 350ms linear;
  box-shadow: 0px 0px 22.9px 0px #0bb89d1f;
}
.card_did:hover {
  padding: 32px 14px;
  font-size: 26px;
  height: 247px;
  border: 1px solid #055448;
  transform: scaleY(1.2);
  background-color: #011210;
  box-shadow: 0px 0px 18.5px 0px #0bb89d4d;
}
.card_icon_did {
  width: 62px !important;
  height: 62px !important;
  transition: all 350ms linear;
}
.card_did:hover .card_icon_did rect {
  fill-opacity: 1;
}
.card_did:hover .card_icon_did path {
  fill: white;
}
.card_did:hover .card_icon_did rect {
  width: 63px !important;
  height: 60px !important;
}
/*---------------------Prospecting-----------------------------*/
.card_pros {
  width: 100%;
  max-width: 1340px;
  height: 652px;
  padding: 80px 100px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to left, #0bb89d 99%, #7d4eff 29%);
  border-radius: 32px;
  border: 4px solid transparent;
  box-shadow: 0px 0px 57.6px 0px #0bb89d;
}
.mxw_pros {
  max-width: 487px;
}
.mwx_mintel {
  max-width: 297px;
}
.arrow_one_pros {
  width: 48px;
  height: 21px;
  left: 31%;
  top: 20%;
}
.arrow_two_pros {
  width: 48px;
  height: 21px;
  left: 66%;
  top: 20%;
}
.pros_icon_one {
  width: 166px;
  height: 120px;
}
.pros_icon_two {
  width: 102px;
  height: 120px;
}
.pros_icon_three {
  width: 97px;
  height: 115px;
}
/*------------------------------------COMPATIBLE-------------------------------------*/
.space_compatible {
  margin-top: 146px;
  margin-bottom: 142px;
}
.linkdin_icon {
  width: 41px;
  height: 40px;
}
.gap_icon {
  margin-top: 60px;
  gap: 104px;
}
.elps_leftt_compatible {
  position: absolute;
  top: 20%;
  left: -5%;
  border-radius: 100px;
  width: 122px;
  height: 122px;
  background: #0bb89d;
  filter: blur(100px);
}
/*-----------------------------------Mintelize-It---------------------------------------------*/
.space_row {
  margin-top: 60px;
}
.card_mint {
  width: 100%;
  max-width: 267px;
  height: 560px;
  padding: 32px 20px;
  border-radius: 6px;
  border: 1px solid #0bb89d33;
  box-shadow: 0px 0px 22.9px 0px #0bb89d1f;
  transition: all 350ms linear;
}
.card_mint:hover {
  border: 1px solid #0bb89d;
  border-bottom: 6px solid #0bb89d;
  background-color: #011210;
  box-shadow: 0px 0px 18.5px 0px #0bb89d4d;
}
.icon_mint {
  transition: all 350ms linear;
}
.card_mint:hover .icon_mint rect {
  fill-opacity: 1;
}
.card_mint:hover .icon_mint path {
  fill: white !important;
}
.card_clock {
  width: 209px;
  height: 72px;
  border-radius: 12px;
  border: 1px solid #ffffff52;
}
.elps_right_mint {
  position: absolute;
  top: 50%;
  right: -5%;
  border-radius: 100px;
  width: 102px;
  height: 102px;
  background: #0bb89d;
  filter: blur(100px);
}
/*---------------------One-click-----------------------------*/
.mxw_one {
  max-width: 706px;
}
.space_one {
  margin-top: 142px;
  margin-bottom: 100px;
}
.card_one {
  width: 170px;
  height: 80px;
  border-radius: 100px;
  background-color: #151516;
  border: 1px solid #0bb89d33;
  box-shadow: 0px 0px 30px 0px #0bb89d4d;
}
/*-------------------------------Brands-------------------------------------------------*/
.card_brands {
  width: 100%;
  max-width: 1340px;
  height: 472px;
  padding: 106px 102px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to left, #0bb89d 99%, #7d4eff 29%);
  border-radius: 32px;
  border: 4px solid transparent;
  box-shadow: 0px 0px 57.6px 0px #0bb89d;
}
.card_that {
  width: 362px;
  height: 167px;
  border-radius: 6px;
  border: 1px solid #00000033;
  box-shadow: 0px 0px 23.3px 0px #0000001f;
}
/*--------------------Footer----------------------------------*/
.mxaw_stay {
  max-width: 321px;
}
.form_border {
  width: 447px;
  height: 52px;
  border-radius: 4px;
  border: 1px solid #ffffff3d;
}
.sign_bttn {
  margin-top: 14px;
  margin-left: -20px;
  padding: 16px 47px;
  background-color: #0bb89d;
  border: none;
  border-radius: 4px;
}
::placeholder {
  color: #b2b2b2 !important;
}
.form_txt {
  color: #b2b2b2;
}
:focus-visible {
  outline: none !important;
}
.space_footer {
  margin-top: 100px;
  margin-bottom: 60px;
}
.space_card {
  margin-top: 15px;
}
.card_google {
  width: 101px;
  height: 93px;
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #ffffff3d;
}
.card_micro {
  width: 131px;
  height: 93px;
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #ffffff3d;
}
.card_aws {
  width: 183px;
  height: 93px;
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #ffffff3d;
}
.footer_line {
  width: 100%;
  height: 1px;
  background-color: #3d3d3d;
}
@media (max-width: 1440px) {
  .elps_right_mint {
    right: 0%;
  }
  .elps_right_did {
    right: 0%;
  }
  .elps_right_hdr {
    right: 0%;
  }
}
@media (max-width: 1199.98px) {
  .nav_logo {
    margin: 31px 0 0 0px;
  }
  .row_height {
    margin: 60px 0px 0 0px !important;
  }
  .card_pros {
    max-width: 990px;
  }
  .card_brands {
    padding: 30px 30px;
    height: 280px;
  }
  .card_that {
    width: 270px;
    height: 120px;
  }
  .elps_right_mint {
    right: 0%;
  }
  .card_mint {
    max-width: 300px;
    height: 520px;
  }
  .card_clock {
    width: 180px;
    height: 50px;
  }
  .elps_right_did {
    right: 0%;
  }
  .card_pros {
    padding: 80px 0px;
  }
  .pros_icon_one {
    width: 80px;
    height: 80px;
  }
  .pros_icon_three {
    width: 80px;
    height: 80px;
  }
  .pros_icon_two {
    width: 80px;
    height: 80px;
  }
  .elps_right_hdr {
    right: 0%;
  }
  .card_did {
    max-width: 302px;
    padding: 32px 28px;
  }
  .nav_logo {
    width: 160px;
    height: 45px;
  }
  .sign_bttn {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 1023.98px) {
  .card_brands {
    width: 100%;
    height: 100%;
  }
  .card_brands {
    padding: 30px 30px;
  }
  .card_that {
    width: 310px;
    height: 120px;
  }
  .card_one {
    height: 60px;
  }
  .elps_right_mint {
    right: 0%;
  }
  .elps_leftt_compatible {
    left: 0%;
  }
  .card_mint {
    max-width: 335px;
    height: 457px;
  }
  .card_clock {
    width: 179px;
    height: 53px;
  }
  .space_compatible {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .linkdin_icon {
    width: 31px;
    height: 35px;
  }
  .gap_icon {
    margin-top: 10px;
    gap: 60px;
  }
  .pros_icon_one {
    width: 80px;
    height: 80px;
  }
  .pros_icon_three {
    width: 80px;
    height: 80px;
  }
  .pros_icon_two {
    width: 80px;
    height: 80px;
  }
  .card_pros {
    width: 100%;
    max-width: 750px;
    height: 100%;
    padding: 20px 0px;
  }
  .card_did {
    max-width: 342px;
  }
  .space_did {
    margin-bottom: 80px;
    margin-top: 82px;
  }
  .card_did:hover {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .elps_right_hdr {
    right: 0%;
  }
  .nav_logo {
    margin-top: 14px;
  }
  .space_header {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .nav_logo {
    width: 150px;
    height: 45px;
  }
  .btn_erly {
    margin-bottom: 30px;
    margin-top: 35px;
  }
  .sign_bttn {
    margin-left: 0px;
    margin-top: 20px;
  }
  .form_border {
    width: 320px;
  }
}
@media (max-width: 767.98px) {
  .card_pros {
    max-width: 550px;
  }
  .form_border {
    width: 350px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #ffffff3d;
  }
  .sign_bttn {
    margin-top: 10px;
    margin-left: 0px;
    padding: 16px 47px;
    background-color: #0bb89d;
    border: none;
    border-radius: 4px;
  }
  .card_brands {
    width: 360px;
    height: 100%;
  }
  .elps_right_hdr {
    right: 0%;
    width: 150px;
    height: 150px;
  }
  .elps_left_hdr {
    width: 150px;
    height: 150px;
  }
  .nav_logo {
    width: 170px;
    height: 30px;
  }
  .space_header {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
@media (max-width: 575.98px) {
  .elps_right_did {
    right: 0%;
  }
  .card_mint {
    height: 310px;
    max-width: 320px;
  }
  .space_compatible {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .linkdin_icon {
    width: 31px;
    height: 30px;
  }
  .gap_icon {
    margin-top: 10px;
    gap: 0px;
  }
  .card_pros {
    width: 100%;
    max-width: 1340px;
    height: 100%;
    padding: 20px 0px;
  }
  .card_did {
    width: 100%;
    max-width: 350px;
    height: 239px;
    min-height: 250px;
    padding: 32px 51px;
  }
  .card_did:hover {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .space_row {
    margin-top: 20px;
  }
  .space_did {
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .elps_right_hdr {
    top: 25%;
    right: 0%;
    width: 92px;
    height: 92px;
  }
  .elps_left_hdr {
    top: 60%;
    left: -5%;
    width: 92px;
    height: 92px;
  }
  .nav_logo {
    width: 150px;
    height: 25px;
    margin-top: 10px;
  }
  .space_header {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .btn_erly {
    padding: 12px 21px;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  .hero_main_img {
    width: 50%;
  }
}
